:root {
  --general: hsl(0, 0%, 25%);
  --bc-base: 0deg 0% 11%;
  --bc-block: hsl(0, 10%, 6%);
  --contrast: hsl(0, 0%, 85%);
  --color-link: hsl(43, 89%, 38%);
  --hover-link: hsl(43, 97%, 43%);
  --bc-link: rgb(37, 41, 46);
}