:root {
  --bc-base: hsl(0, 0%, 10%);
  --bc-block: hsl(0, 10%, 6%);
  --contrast: hsl(0, 0%, 85%);
  --color-link: hsl(43, 89%, 38%);
  --hover-link: hsl(43, 97%, 43%);
  --bc-link: rgb(37, 41, 46);
  --shadow1: hsl(0, 0%, 40%);
  --shadow2: hsl(0, 0%, 30%);
  --shadow3: hsl(0, 0%, 20%);
}