:root {
  --bc-base: hsl(0, 0%, 95%);
  --bc-block: hsl(0, 0%, 100%);
  --contrast: hsl(220, 2%, 27%);
  --color-link: hsl(209, 100%, 22%);
  --hover-link: hsl(209, 100%, 40%);
  --bc-link: rgb(225, 238, 255);
  --shadow1: hsl(0, 0%, 60%);
  --shadow2: hsl(0, 0%, 70%);
  --shadow3: hsl(0, 0%, 80%);
}