*, *::after, *::before {
  box-sizing: border-box;
}
.main {
  border: 5px dashed blueviolet;
  padding: 20px;
}
.index {
  color: blue;
}
.article {
  color: red;
}
.cards {
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  max-width: 200px;
  background-color: #eeeeee;
  padding: 10px;
  display: grid;
  color: black;
  &__img {
    height: 120px;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
  }
  &__description {
    margin-top: 10px;
    font-size: 14px;
  }
  &__link {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #c4c4c4;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
  }
}
.image {
  display: grid;
  grid-template-columns: 300px auto;
  &__test {
    width: 300px;
  }
}