
html, body {
  height: 100%;
}
body {
  background-color: var(--bc-base);
  font-family: sans-serif;
  margin: 0;
}
.main {
  height: 100%;
  display: grid;
  place-content: center;
  margin: 0;
}
.contact {
  background-color: var(--bc-block);
  border: 1px solid var(--contrast);
  box-shadow: 0 0 5px 2px var(--shadow1),  0 0 50px 1px var(--shadow2), 0 0 80px 10px var(--shadow3);
  aspect-ratio: 16/9;
  width: 30vw;
  color: var(--contrast);
  margin: auto;
  min-width: 280px;
  max-width: 350px;
  display: grid;
  align-items: center;
  &__name {
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
  }
  &__links {
    display: flex;
    justify-content: space-around;
 
  }
  &__link {
    background-color: var(--bc-link);
    line-height: 1.6em;
    padding: 10px 10px;
    border-radius: 10px;
    color: var(--color-link);
    display: grid;
  }
  &__link:hover,
  &__link:focus {
    box-shadow: inset 0 0 2px 1px var(--contrast);
    color: var(--hover-link);
  }
  &__svg {
    fill: currentColor;
    width: 30px;
    height: 30px;
  }
}