*, *::after, *::before {
  box-sizing: border-box;
}
// .nav {
//   border-bottom: 1px solid black;
//   &__link {
//     text-decoration: none;
//   }
// }
.main {
  border: 20px solid white;
  display: grid;
  grid-template-areas:
  "tittle tittle"
  "body body"
  "one two";
  gap: 20px;

  &__tittle {
    min-height: 60px;
    grid-area: tittle;
    @include media-up(xxs) {
      background-color: #c4c4c4;
    }
    @include media-only(lg) {
      background-color: red;
    }
  }
  &__body {
    min-height: 300px;
    grid-area: body; 
    @include media-up(xxs) {
      background-color: #FF9C9C;
    }
    @include media-only(lg) {
      background-color: red;
    }
  }
  &__footer-left {
    min-height: 60px;
    grid-area: one;
    @include media-up(xxs) {
      background-color: #92B9D4;
    }
    @include media-only(lg) {
      background-color: red;
    }
  }
  &__footer-right {
    min-height: 60px;
    grid-area: two;
    @include media-up(xxs) {
      background-color: #9BC79D;
    }
    @include media-only(lg) {
      background-color: red;
    }
  }
}

