{% set title = 'AleksProWork' %}
{% extends "templates/default.html" %}

{% block content %}

<main class="main">

  <div class="contact">
    <h1 class="contact__title">Проблема с SVG</h1>
    <div class="contact__name">Ниже пример</div>
    <div class="contact__links images">
      <div class="images__example">
        <img class="img" src="img/logo-svg.svg" width="100px" height="100px" alt="">
        <img class="img" src="img/telegram.svg" width="100px" height="100px" alt="">
        <img class="img" src="img/cook.svg" width="100px" height="100px" alt="">
      </div>
      <div class="images__example">
        <svg class="svg" width="100px" height="100px">
          <use xlink:href='img/svg/sprite-black.svg#logo-svg'></use>
        </svg>
        <svg class="svg" width="100px" height="100px">
          <use xlink:href='img/svg/sprite-black.svg#telegram'></use>
        </svg>
        <svg class="svg" width="100px" height="100px">
          <use xlink:href='img/svg/sprite-black.svg#cook'></use>
        </svg>
      </div>
      <div class="images__example">
        <svg class="svgcolor" width="100px" height="100px">
          <use xlink:href='img/svgcolor/sprite-color.svg#logo-svg'></use>
        </svg>
        <svg class="svgcolor" width="100px" height="100px">
          <use xlink:href='img/svgcolor/sprite-color.svg#telegram'></use>
        </svg>
        <svg class="svgcolor" width="100px" height="100px">
          <use xlink:href='img/svgcolor/sprite-color.svg#cook'></use>
        </svg>
      </div>


    </div>
  </div>

</main>

{% endblock %}