{% set title = 'Главная' %}
{% extends "templates/default.html" %}
{% import "includes/macros.html" as variable %}
{% set cards = [
  {title: "Первая карточка", value: "Достаточно краткое описание для <b> первой </b> карточки",
  src:"https://i.picsum.photos/id/0/5616/3744.jpg?hmac=3GAAioiQziMGEtLbfrdbcoenXoWAW-zlyEAMkfEdBzQ"},
  {title: "Вторая карточка", value: "Достаточно краткое описание для <b> второй </b> карточки",
  src:"https://i.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68"},
  {title: "Третья карточка", value: "Достаточно краткое описание для <b> третьей </b> карточки",
  src:"https://i.picsum.photos/id/1001/5616/3744.jpg?hmac=38lkvX7tHXmlNbI0HzZbtkJ6_wpWyqvkX4Ty6vYElZE"},
  {title: "Четвертая карточка", value: "Достаточно краткое описание для <b> четвёртой </b> карточки",
  src:"https://i.picsum.photos/id/1005/5760/3840.jpg?hmac=2acSJCOwz9q_dKtDZdSB-OIK1HUcwBeXco_RMMTUgfY"}
  ]%}

{% block content %}

<main class="main index">
  <p class="main__info">This is one page. Color font blue.</p>
  <a href="article.html" class="main__link">GO - Page two</a>
  <p class="main__lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis itaque exercitationem
    delectus quasi
    totam rerum.</p>
  <section class="cards">
    {% for card in cards %}
    {{ variable.cardCreate(card.title, card.value, card.src) }}
    {% endfor %}
  </section>

  <section class="image">
    <div class="image__left">
      {{ variable.imageJpeg('image__picture', 'test', 'image__test', '') }}
    </div>

    <div class="image__right">
      {{ variable.imagePng('image__picture', 'logo', 'image__logo', 'png-название') }}
    </div>
  </section>
  <div class="svg">
    {{ variable.imageSvg('line') }}
  </div>
</main>

{% endblock %}